[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "*"
pytz = "*"
sqlalchemy = "*"
feedparser = "*"
requests = "*"
psycopg2 = "*"

[dev-packages]
alembic = "*"
black = "*"
isort = "*"
flake8 = "*"
pyright = "*"

[requires]
python_version = "3.11"
